.Container{
    width:630px;
    margin: 20px auto;
    background-color: white;
    height: 300px;
}
.SubDiv{
    width: 300px;
}
.logo{
    margin: 20px auto 0;
    width: 60px;
}
.LogoHead{
    color:black;
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
    text-transform: uppercase;
    font-weight: 700;

}
.LogoText{
    color: gray;
    font-size: 16px;
    font-weight: 700;
    margin-top: -14px;

}
.QRCode{
    width: 75px;
    margin-top:;
}